[Unit]
Description=Discovery
DefaultDependencies=no
Requires=sysinit.target
Requires=network.target
Requires=NetworkManager.service
After=sysinit.target
After=system-update-pre.target
After=systemd-journald.socket
After=network.target
After=network-online.target
After=network.service
After=sshd.service
After=NetworkManager.service
Before=shutdown.target
Before=system-update.target
Before=system-update-cleanup.service
Wants=network-online.target
Wants=sshd.service

[Service]
Type=oneshot
ExecStart=/usr/bin/discovery.sh
ExecStop=/bin/true
ExecStopPost=/usr/bin/rm -fv /system-update
FailureAction=reboot
TimeoutSec=18000
KillMode=control-group
KillSignal=SIGKILL
StandardInput=tty
